#customForm {
    display: flex;
    flex-flow: row wrap;
}

#customForm fieldset {
    flex: 1;
    border: 1px solid #aaa;
    margin: 0.5em;
}

#customForm fieldset legend {
    padding: 5px 20px;
    border: 1px solid #aaa;
    font-weight: bold;
}

#customForm fieldset.leadTmp {
    flex: 2 100%;
}

#customForm fieldset.leadTmp legend {
    background: #bfffbf;
}

#customForm fieldset.source legend {
    background: #ffffbf;
}

#customForm fieldset.amazon legend {
    background: #ffbfbf;
}

#customForm div.DTE_Field {
    padding: 5px;
}

html.dark #customForm fieldset.leadTmp legend {
    background: #005c00;
}

html.dark #customForm fieldset.source legend {
    background: #6a6a00;
}

html.dark #customForm fieldset.amazon legend {
    background: #7e0000;
}

.hidden-row {
    background-color: #a8ddec !important;
}

.match-row {
    background-color: #ceffce !important;
}

.mismatch-row {
    background-color: #ffbaba !important;
}

div.container {
    max-width: 1700px;
}

.text-max-length {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline-block {
    display: revert;
    white-space: nowrap;
}

body {
    font-size: smaller;
}

.category-style {
    font-weight: 900;
}

.dataTables_wrapper {
    background-color: lightgoldenrodyellow;
    margin-bottom: 50px;
}

.dtsb-searchBuilder, .dt-buttons, .dataTables_filter {
    margin-left: 10px;
}

.dtsb-searchBuilder {
    display: grid;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    padding: 10px 9px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table.dataTable > thead {
    background-color: #ffffa7;
}

table.dataTable {
    table-layout: unset !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: unset;
}