#customForm {
    display: flex;
    flex-flow: row wrap;
}

#customForm fieldset {
    flex: 1;
    border: 1px solid #aaa;
    margin: 0.5em;
}

#customForm fieldset legend {
    padding: 5px 20px;
    border: 1px solid #aaa;
    font-weight: bold;
}

#customForm fieldset.leadTmp {
    flex: 2 100%;
}

#customForm fieldset.leadTmp legend {
    background: #bfffbf;
}

#customForm fieldset.source legend {
    background: #ffffbf;
}

#customForm fieldset.amazon legend {
    background: #ffbfbf;
}

#customForm div.DTE_Field {
    padding: 5px;
}

html.dark #customForm fieldset.leadTmp legend {
    background: #005c00;
}

html.dark #customForm fieldset.source legend {
    background: #6a6a00;
}

html.dark #customForm fieldset.amazon legend {
    background: #7e0000;
}

.hidden-row {
    background-color: #a8ddec !important;
}

.pl-row {
    background-color: rgba(196, 79, 234, 0.73) !important;
}

.hz-row {
    background-color: rgba(196, 79, 234, 0.73) !important;
}

.match-row {
    background-color: #ceffce !important;
}

.mismatch-row {
    background-color: #ffbaba !important;
}

div.container {
    max-width: 1700px;
}

.text-max-length {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline-block {
    display: revert;
    white-space: nowrap;
}

body {
    font-size: smaller;
}

.category-style {
    font-weight: 900;
}

.dataTables_wrapper {
    background-color: #f3f3f3;
    margin-bottom: 50px;
    padding-top: 20px;
}

.dtsb-searchBuilder, .dt-buttons, .dataTables_filter {
    margin-left: 10px;
    margin-right: 15px;
}

.dtsb-searchBuilder {
    position: absolute;
    margin-top: 10px;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    padding: 10px 9px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table.dataTable > thead {
    /*background-color: #ffffa7;*/
}

table.dataTable {
    table-layout: unset !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: unset;
}

div.action-buttons {
    white-space: nowrap;
    text-align: center;
}

div.action-buttons div {
    min-width: 18px;
    cursor: pointer;
}

div.action-buttons div.row {
    font-weight: bold;
    font-size: medium;
    padding-bottom: 10px;
    padding-top: 10px;
    color: brown;
}

body {
    padding-bottom: 300px
}

#jump_page_parent {
    text-align: center;
}

#loading-wrapper {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
}

#header
{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
}

#content
{
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
}